.project-section {
  scroll-margin-top: 100px;
  h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
    color: #333;
  }
  .projects-container {
    padding: 50px;
    .projects {
      display: flex;
      place-content: center;
      gap: 50px;
      flex-wrap: wrap;
      &__project-card {
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        width: 450px;
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        }
        &__image {
          width: 365px;
          overflow: hidden;
          border-radius: 10px 10px 0 0;
          width: 100%;
          img {
            display: block;
            object-fit: cover;
            object-position: top center;
            width: 100%;
            height: 200px;
            transition: transform 0.3s ease;
          }
        }
        &__details {
          padding: 15px;
          h3 {
            font-size: 1.4rem;
            margin-bottom: 10px;
            color: #222;
          }
          p {
            margin-bottom: 10px;
            line-height: 1.6;
            width: 100%;
            color: #555;
          }
          &__tech-stack {
            ul {
              display: flex;
              align-items: center;
              gap: 12px;
              flex-wrap: wrap;
              li {
                list-style: none;
                svg {
                  margin: 10px 0;
                  width: 40px;
                }
              }
            }
          }
        }
        &__see-project {
          display: flex;
          place-content: center;
          flex-wrap: wrap;
          gap: 15px;
          padding: 10px 0;
          a {
            margin-top: 15px;
            cursor: pointer;
            padding: 10px 18px;
            border: none;
            background-color: #0070f3;
            color: white;
            font-weight: 600;
            font-size: 1rem;
            border-radius: 6px;
            transition: background-color 0.1s ease, box-shadow 0.3s ease;
            margin: 0 10px;
            position: relative;

            &:hover {
              box-shadow: 0 0 8px rgba(0, 91, 181, 0.7);
            }
          }
        }
      }
    }
    .projects {
      &__project-card:first-child {
        a:first-child {
          display: none;
        }
      }
    }
  }
}

.dark-theme {
  .main-content {
    .projects {
      &__project-card {
        transition: transform 0.3s ease, box-shadow 0.3s ease !important;
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
