.project-section {
  scroll-margin-top: 100px;
  .titles {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #6b7280;
    margin-bottom: 1.25rem;
    text-align: center;
  }
  .projects-container {
    .freelance,
    .selected-projects {
      padding: 20px;
    }
    .projects {
      display: flex;
      place-content: center;
      gap: 50px;
      flex-wrap: wrap;
      &__project-card {
        position: relative;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
        width: 550px;
        height: 350px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
          .projects__project-card__see-project {
            opacity: 1;
            pointer-events: auto;
          }
        }
        &:hover img {
          filter: brightness(0.3);
          transform: scale(1.05);
        }
        &__image {
          overflow: hidden;
          border-radius: 10px 10px 0 0;
          width: 100%;
          height: 100%;
          img {
            display: block;
            object-fit: cover;
            object-position: top center;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease;
          }
        }
        &__see-project {
          position: absolute;
          inset: 0;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px 0;
          opacity: 0;
          pointer-events: none;
          transition: opacity 0.3s ease;
          h3 {
            font-size: 1.4rem;
            margin-bottom: 10px;
            color: #fff;
          }
          a {
            margin-top: 15px;
            cursor: pointer;
            padding: 10px 18px;
            border: 1px solid white;
            background-color: transparent;
            color: white;
            font-weight: 600;
            font-size: 1rem;
            border-radius: 6px;
            transition: background-color 0.1s ease, box-shadow 0.3s ease;
            margin: 0 10px;
            position: relative;

            &:hover {
              color: #333;
              background-color: #fff;
            }
          }
        }
      }
    }
    .projects {
      &__project-card:first-child {
        a:first-child {
          display: none;
        }
      }
    }
  }
}

.dark-theme {
  .main-content {
    .projects {
      &__project-card {
        transition: transform 0.3s ease, box-shadow 0.3s ease !important;
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
  .titles {
    color: #9ca3af;
  }
}
