nav {
  position: sticky !important;
  top: 0;
  background-color: white;
  z-index: 1000;
  border-bottom: 1px solid rgb(220, 220, 220);
  transition: all 0.3s ease;

  .welcome {
    display: none;
  }

  .navbar-content {
    ul {
      display: flex;
      gap: 15px;
      justify-content: flex-end;
      align-items: center;
      padding: 25px;
      width: 100%;
      li {
        list-style: none;
        a {
          position: relative;
          padding: 5px;
          //color: inherit;
          display: inline-block;
          text-decoration: none;
          z-index: 1;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            transform: scaleY(0);
            transform-origin: bottom;
            background-color: rgba(201, 202, 202, 0.251);
            border-radius: 6px;
            transition: transform 0.35s ease;
            z-index: 0;
          }

          &:hover::before {
            height: 100%;
            transform: scaleY(1);
          }
        }
        .download-cv {
          position: relative;
          cursor: pointer;
          font-size: 1.09em;
          color: #2d2c2c !important;
          border: none;
          background-color: transparent;
          width: fit-content;
          color: white;
          padding: 5px;
          font-size: 1rem;
          border-radius: 6px;
          transition: background-color 0.3s ease, box-shadow 0.3s ease;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            transform: scaleY(0);
            transform-origin: bottom;
            background-color: rgba(201, 202, 202, 0.251);
            border-radius: 6px;
            transition: transform 0.35s ease;
            z-index: 0;
          }

          &:hover::before {
            height: 100%;
            transform: scaleY(1);
          }
        }
      }

      .theme {
        padding: 0.2em;
        width: auto;

        &__light,
        &__dark {
          background-color: transparent;
          border: none;
          cursor: pointer;

          svg {
            width: 25px;
            fill: #555;
            transition: fill 0.3s ease;
          }
        }
      }
    }
  }

  .side-menu-btn {
    button {
      display: none;
    }
  }
  &.dark-theme {
    border-bottom: 1px solid #2d2c2c;
    .welcome {
      color: #fff;
    }
    .navbar-content {
      background-color: #121212;
      ul {
        li {
          a,
          button {
            color: #e0e0e0 !important;
            &::before {
              background-color: #cebf143a !important;
            }
          }
        }
      }
      .side-menu-btn {
        button {
          svg {
            border: none;
            outline: none;
          }
        }
      }
    }
    .theme {
      &__dark {
        svg {
          fill: #cebf14 !important;
        }
      }
    }
  }
}
