@use "./about-me/AboutMe";
@use "./project-section/ProjectSection";
@use "./tech-section/techSection";
@use "./tools-section/ToolsSection";
@use "./contact/Contact";
main {
  .main-content {
    margin: 0 4%;
    padding: 20px;
    li {
      list-style: none;
    }
  }
}
