.project-section {
  h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
    color: #333;
  }
  .projects-container {
    padding: 50px;
    .projects {
      display: flex;
      place-content: center;
      gap: 50px;
      flex-wrap: wrap;
      .project {
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        width: 450px;
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        }
        .project-image {
          width: 365px;
          overflow: hidden;
          border-radius: 10px 10px 0 0;
          width: 100%;
          img {
            object-fit: contain;
            width: 100%;
            display: block;
            transition: transform 0.3s ease;
          }
        }
        .project-details {
          padding: 15px;
          h3 {
            font-size: 1.4rem;
            margin-bottom: 10px;
            color: #222;
          }
          p {
            margin-bottom: 10px;
            line-height: 1.6;
            width: 100%;
            color: #555;
          }
          ul {
            display: flex;
            align-items: center;
            gap: 12px;
            li {
              list-style: none;
              svg {
                margin: 10px 0;
                width: 45px;
              }
            }
          }
          .see-project {
            padding: 20px 0;
            text-align: center;
            a {
              margin-top: 15px;
              cursor: pointer;
              padding: 10px 18px;
              border: none;
              background-color: #0070f3;
              color: white;
              font-weight: 600;
              font-size: 1rem;
              border-radius: 6px;
              transition: background-color 0.1s ease, box-shadow 0.3s ease;
              margin: 0 10px;
              &:hover {
                background-color: #005bb5;
                box-shadow: 0 0 8px rgba(0, 91, 181, 0.7);
              }
            }
          }
        }
      }
    }
  }
}
