.global-footer {
  background-color: #121212;
  color: #ddd;
  border-top: 1px solid #333;
  padding: 40px 20px;
  font-family: "Inter", sans-serif;

  .footer-content {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
  }

  h3 {
    color: #e0e0e0;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  .resources-content {
    .resources-list {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
  }
  .explore-content {
    h3 {
      text-align: center;
    }
    .navbar-content {
      background: transparent;
      border-bottom: none;
      position: static;
      z-index: initial;
      scroll-behavior: unset;
      text-align: center;
      ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 12px;
        li {
          list-style: none;
        }
        a {
          color: #ddd;
          text-decoration: none;
          padding: 6px 0;
          font-weight: 500;
          transition: color 0.3s ease;
          &:hover {
            color: #ffcc00;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
