/* * {
  outline: 1px solid red;
} */
.my-description {
  scroll-margin-top: 70px;
  overscroll-behavior: none;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  padding: 50px 0;
  .my-description-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    padding: 30px;
    .my-image {
      width: 250px;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      img {
        width: 100%;
        display: block;
        object-fit: cover;
      }
    }
    .my-description-details {
      flex: 1;
      width: 700px;
      h1 {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 2.2rem;
        color: #222;
      }

      h3 {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 1.5rem;
        color: #555;
      }

      p {
        line-height: 1.5;
        font-size: 1.185rem;
        color: #555;
        margin-bottom: 25px;
        width: fit-content;
      }
      .my-social-media {
        ul {
          margin-top: 15px;
          padding: 0;
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
        }
        li a {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 65px;
          height: 65px;
          border-radius: 50%;
          background-color: #f0f0f0;
          transition: background-color 0.3s ease, transform 0.3s ease;
          svg {
            width: 38px;
            height: 38px;
            transition: fill 0.3s ease;
          }
          &:hover {
            background-color: #0070f3;
            transform: scale(1.05);

            svg {
              fill: #fff;
            }
          }
        }
      }
    }
  }
}

header {
  &.dark-theme {
    transition: all 0.3s ease;
    h1,
    h3,
    p {
      color: #e0e0e0 !important;
    }

    .my-social-media a {
      background-color: #cebf148c !important;
      border-radius: 8px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease, transform 0.2s ease;
      box-shadow: 0 2px 6px rgba(206, 191, 20, 0.4);

      svg {
        fill: #212020;
        width: 24px;
        transition: fill 0.3s ease;
      }

      &:hover,
      &:focus {
        transform: scale(1.1);
        box-shadow: 0 4px 12px rgba(206, 191, 20, 0.6);

        svg {
          fill: #000;
        }
      }
    }
  }
}
