.explore-content h3 {
  color: #fff;
  text-align: center;
}
.explore-content .navbar-content {
  background-color: red;
  background: transparent;
  border-bottom: none;
  position: static;
  z-index: initial;
  scroll-behavior: unset;
  text-align: center;
}
.explore-content .navbar-content ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 12px;
}
.explore-content .navbar-content ul li {
  list-style: none;
}
.explore-content .navbar-content ul a {
  color: #ddd;
  text-decoration: none;
  padding: 6px 0;
  font-weight: 500;
  transition: color 0.3s ease;
}
.explore-content .navbar-content ul a:hover {
  color: #ffcc00;
  text-decoration: underline;
}

/* .resources-content {
  ul {
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 25px 0;
    li {
      list-style: none;
    }
  }
}
 */
.resources-content h3 {
  color: #fff;
}
.resources-content .resources-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .global-navbar .navbar-content ul {
    display: flex;
    gap: 10px;
    padding: 20px;
  }
  .global-navbar .navbar-content ul li {
    font-size: 1.09em;
    font-weight: 600;
    text-align: center;
  }
  .my-description {
    padding: 0;
  }
  .my-description .my-description-content {
    text-align: center;
  }
  .my-description .my-description-content .my-description-details h3 {
    font-size: 1.35em;
  }
  .my-description .my-description-content .my-description-details .my-social-media {
    margin-top: 25px;
    width: 100%;
  }
  .my-description .my-description-content .my-description-details .my-social-media ul {
    gap: 13px;
    justify-content: center;
  }
  .my-description .my-description-content .my-description-details .my-social-media ul li {
    margin: 0;
    padding: 5px;
  }
  .my-description .my-description-content .my-description-details .my-social-media ul li a {
    width: 60px;
    height: 60px;
  }
  .my-description .my-description-content .my-description-details .my-social-media ul li a svg {
    width: 35px;
    height: 35px;
  }
  .my-description .my-description-content .my-description-details .my-social-media .download-cv {
    margin-top: 25px;
    font-size: 1.2em;
  }
  .about-me {
    margin-top: 20px;
    scroll-margin-top: 85px;
  }
  .about-me .habilities {
    padding: 15px 0;
  }
  .about-me .habilities p,
  .about-me .habilities ul {
    font-size: 1.2em;
    color: #555;
  }
  .project-section {
    margin-top: 50px;
    scroll-margin-top: 110px;
  }
  .project-section .projects-container {
    padding: 15px 0;
  }
  .project-section .projects-container .project-details h3 {
    font-size: 1.8em !important;
  }
  .project-section .projects-container .project-details p {
    font-size: 1.2em;
    color: #555;
  }
  .project-section .projects-container .project-details h4 {
    font-size: 1.35em;
  }
  .tech-section,
  .tools-section {
    scroll-margin-top: 120px;
    margin-top: 50px;
  }
  .tech-section h2,
  .tools-section h2 {
    margin: 8px;
  }
  .tech-section .tech-content,
  .tech-section .tools-content,
  .tools-section .tech-content,
  .tools-section .tools-content {
    padding: 15px 0;
  }
  .tech-section .tech-content ul,
  .tech-section .tools-content ul,
  .tools-section .tech-content ul,
  .tools-section .tools-content ul {
    gap: 30px;
  }
  .tech-section .tech-content ul li svg,
  .tech-section .tools-content ul li svg,
  .tools-section .tech-content ul li svg,
  .tools-section .tools-content ul li svg {
    width: 60px;
    height: 60px;
  }
  .tech-section .tech-content ul li p,
  .tech-section .tools-content ul li p,
  .tools-section .tech-content ul li p,
  .tools-section .tools-content ul li p {
    font-size: 1.2em;
  }
  .contact-section {
    scroll-margin-top: 120px;
    margin-top: 50px;
  }
  .contact-section .contact-content p {
    font-size: 0.9em;
  }
  .contact-section .contact-content ul {
    margin-top: 30px;
  }
  .contact-section .contact-content ul li {
    font-size: 0.8em;
  }
  .contact-section form {
    width: 80%;
  }
  .contact-section form button[type=submit] {
    margin: 15px 0 10px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-content h3 {
    font-size: 1.8em !important;
  }
  .footer-content ul li {
    text-align: center;
    font-size: 1em;
  }
}
@media screen and (max-width: 767px) {
  .global-navbar {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  .global-navbar .navbar-content {
    background-color: #fff;
    position: absolute;
    top: 95%;
    left: 0;
    width: 100%;
    height: 17em;
    max-height: 0;
    overflow: hidden;
    overflow-y: auto;
    transition: all 0.35s ease-in-out;
  }
  .global-navbar .navbar-content ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    font-size: 1.25em;
  }
  .global-navbar .navbar-content ul li {
    font-size: 1.09em;
    font-weight: 600;
    text-align: center;
  }
  .global-navbar .navbar-content ul li a {
    display: block;
    padding: 0;
  }
  .global-navbar .active {
    opacity: 1;
    max-height: 1000px;
  }
  .global-navbar .phone-logo {
    display: block;
  }
  .global-navbar .side-menu-btn button {
    background-color: transparent;
    border: none;
    display: block;
    fill: #555;
    width: 4.5em;
  }
  .my-description {
    padding: 0;
  }
  .my-description .my-description-content {
    flex-direction: column;
    text-align: center;
  }
  .my-description .my-description-content .my-description-details h3 {
    font-size: 1.35em;
  }
  .my-description .my-description-content .my-description-details .my-social-media {
    margin-top: 25px;
    width: 100%;
  }
  .my-description .my-description-content .my-description-details .my-social-media ul {
    gap: 13px;
    justify-content: center;
  }
  .my-description .my-description-content .my-description-details .my-social-media ul li {
    margin: 0;
    padding: 5px;
  }
  .my-description .my-description-content .my-description-details .my-social-media ul li a {
    width: 65px;
    height: 65px;
  }
  .my-description .my-description-content .my-description-details .my-social-media ul li a svg {
    width: 35px;
    height: 35px;
  }
  .my-description .my-description-content .my-description-details .my-social-media .download-cv {
    margin-top: 25px;
    font-size: 1.2em;
  }
  .about-me {
    margin-top: 20px;
    scroll-margin-top: 85px;
  }
  .about-me .habilities {
    padding: 15px 0;
  }
  .about-me .habilities p,
  .about-me .habilities ul {
    font-size: 1.2em;
    color: #555;
  }
  .project-section {
    margin-top: 50px;
    scroll-margin-top: 110px;
  }
  .project-section .projects-container {
    padding: 15px 0;
    margin: 0 auto;
  }
  .project-section .projects-container .project:hover {
    transform: none;
  }
  .project-section .projects-container .project .project-details h3 {
    font-size: 1.8em !important;
  }
  .project-section .projects-container .project .project-details p {
    font-size: 1.2em;
    color: #555;
  }
  .project-section .projects-container .project .project-details h4 {
    font-size: 1.35em;
  }
  .tech-section,
  .tools-section {
    scroll-margin-top: 80px;
    margin-top: 50px;
  }
  .tech-section h2,
  .tools-section h2 {
    margin: 8px;
  }
  .tech-section .tech-content,
  .tech-section .tools-content,
  .tools-section .tech-content,
  .tools-section .tools-content {
    padding: 15px 0;
  }
  .tech-section .tech-content ul,
  .tech-section .tools-content ul,
  .tools-section .tech-content ul,
  .tools-section .tools-content ul {
    gap: 30px;
  }
  .tech-section .tech-content ul li svg,
  .tech-section .tools-content ul li svg,
  .tools-section .tech-content ul li svg,
  .tools-section .tools-content ul li svg {
    width: 60px;
    height: 60px;
  }
  .tech-section .tech-content ul li p,
  .tech-section .tools-content ul li p,
  .tools-section .tech-content ul li p,
  .tools-section .tools-content ul li p {
    font-size: 1.2em;
  }
  .contact-section {
    scroll-margin-top: 120px;
    margin-top: 50px;
  }
  .contact-section .contact-content p {
    font-size: 1.2em;
  }
  .contact-section .contact-content ul {
    margin-top: 30px;
  }
  .contact-section .contact-content ul li {
    font-size: 1.2em;
  }
  .contact-section .contact-content ul li a {
    word-wrap: break-word;
    white-space: normal;
  }
  .contact-section form {
    width: 100%;
    padding: 0;
  }
  .contact-section form button[type=submit] {
    margin: 15px 0 10px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-content h3 {
    font-size: 1.8em !important;
  }
  .footer-content ul li {
    text-align: center;
    font-size: 1em;
  }
}
.global-footer {
  background-color: #121212;
  color: #ddd;
  border-top: 1px solid #333;
  padding: 40px 20px;
  font-family: "Inter", sans-serif;
}
.global-footer .footer-content {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}
.global-footer h3 {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}/*# sourceMappingURL=Footer.css.map */